/* Overall Body */
body {
  width: 900px;
  margin: 0 auto;
}

/* Header */
#header {
  margin: 20px 0;
}

#logoBox {
  display: inline-block;
}

#innerLogoBox {
  display: inline-block;
  height: 100%;
}

#innerLogoBox > h1 {
  font-size: 30px;
}

#innerLogoBox > p {
  font-size: 15px;
}

#iconBox {
  height: 48px;
  float: right;
  top: 50%
}

#iconBox img {
  margin-top: 12px;
}

#iconBox img:nth-child(6) {
  margin-right: 6px;
}


/* Main */
#headingBox {
  margin: 20px 0;
}

#headingBox h1 {
  font-size: 40px;
  font-weight: bold;
}

#headingBox p {
  display: inline;
  color: rgb(168, 168, 168);
}

#printIcon {
  float: right;
  color: rgb(168, 168, 168);
}

#instructionBox {
  margin: 20px 0;
}

#instructionBox p {
  color: rgb(100, 100, 100);
  text-indent: 20px;
  line-height: 1.6;
  margin: 20px 0;
}

#columns {
  position: absolute;
  width: 900px;
  margin-left: 60px;
  margin-top: 38px;
}

#columns div {
  width: 50%;
  float: left;}

#columns > div > input, label {
  margin-bottom: 18px;
}


/* Footer */
